@import "./base/reset";
@import "./base/variables";
@import "./mixins/media";



html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;

    
}

body {
    min-width: 42.8rem;
    border: 1 solid;
    margin: 0 auto;
    display: block;
    @include xl {
        max-width: 114rem;
    }
}

.header {
    margin: 3.2rem;
    
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--logo {
            width: 19.8rem;
            height: 3.6rem;
        }

        &__nav {
            width: 2.4rem;
            display: block;

            @include xl {
                display: none;
            }
            
            &--menu {
                height: 0.4rem;
                background-color: #999999;
                margin: 5px 0;
                border-radius: 25px;
            }
        }

        &__navdesktop {
                display: none;

           @include xl {
                display: contents;
                display: flex;
                font-size: 2rem;
           }
        }
    }

    @include xl {
        margin: 7rem 8rem;
    }

}

.menu-link {
        color: $coloer-letters  ;
        text-decoration: none;
        -webkit-text-stroke: 0.05rem;
        -webkit-text-stroke-color: $color-letter-borders;
        margin-left: 2.8rem;
    }
.red {
        color: $color-pink;
    }
